html, body, section, article, h1, h2, p, strong, em, a, button {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

body{
    margin: auto;
    text-align: center;
}

p{
  color: white;
  font-family: arial;
}

.flood-header{
  color: #f54382;
  font-style: bold;
  font-family: arial black;
  font-weight: 600;
  font-size: 32px;
  padding: 15px;
}

.desc{
  font-weight: 300;
  padding: 10px;
  font-size: 16px;
}

.start-button{
  cursor: pointer;
}

.instructions, .over {
    text-align: center;
    max-width:700px;
    width:30%;
    height: 70%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:5px;
    background: black;
    color: white;
    z-index: 100;
}

.modal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.hidden{
  display: none;
}

/*game board*/

.logo{
  margin: 15px;
}

.button-table{
  height: 50px;
  width: 450px;
  margin: auto;
}

.button{
  margin: 20px;
  height: 30px;
  width: 30px;
  float: left;
  border: 1px solid white;
  border-style: outset;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);

}

.button:hover{
  cursor: pointer;
  border-style: inset;
}

.flood-it{
  position: relative;
}

.grid{
  margin: auto;
  width: 420px;
  height: 420px;
  padding: 0px;
}

.square{
  float: left;
  list-style: none;
  height: 30px;
  width: 30px;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;

}

.red{
 background-color: #d45a2e;
 color: #d45a2e;
}

.yellow{
  background-color: #ecea2e;
  color: #ecea2e;
}

.pink{
  background-color: #e27fa9;
  color: #e27fa9;
}

.green{
  background-color: #90a92f;
  color: #90a92f;

}

.blue{
  background-color: #5ab0df;
  color: #5ab0df;
}

.purple{
  background-color: #6967af;
  color: #6967af;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.flooded{
  /*background: white;*/
}
