html, body, section, article, h1, h2, p, strong, em, a, button {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

html {
}

body {
    margin: auto;
    text-align: center;
}

p {
  color: white;
  font-family: 'Delius', cursive;
}

.moves{
  font-family: 'Delius', cursive;
  float: left;
  padding-right: 262px;
}

.game-nav{
  padding-top: 35px;
  width: 420px;
  margin: 0 auto;
  height: 46px;
  overflow: hidden;
  vertical-align: center;
}

.nav-buttons{
  float: right;
}

.refresh, .menu {
  float: left;
  height: 25px;
  padding-top: 8px;
  cursor: pointer;
}

.refresh{
  padding-right: 3px;
}

.flood-header {
  color: #f54382;
  font-style: bold;
  font-weight: 600;
  font-size: 32px;
  padding: 15px;
}

.desc {
  font-family: 'Delius', cursive;
  padding: 10px;
  font-size: 16px;
}

.det {
  padding: 15px;
}

.start-button {
  cursor: pointer;
  background: #f54382;
  font-family: arial black;
  width: 125px;
  height: 32px;
  margin: 0 auto;
  text-align: center;
  vertical-align: center;
  border-radius: 5px;
  padding-top: 5px;
}

.nicole {
  margin: 0 auto;
  font-family: 'Delius', cursive;
  color: white;
  padding-top: 25%;
  padding-right: 5%;
  bottom: 5px;
}

.game{
  color: black;
  padding-top: 0;
  padding-right: 4.5%;
  padding-bottom: 2%;
}

.level{
  padding: 3px;
  margin: 5px;
  font-family: 'Delius', cursive;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 10px;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #f54382;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
}

.instructions, .over {
    text-align: center;
    width: 300px;
    /*width: 30%;*/
    height: 530px;;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:5px;
    background: #212121;
    color: white;
    z-index: 100;
    border: 1px solid #2c2c2c;
    vertical-align: center;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.modal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.blur {
  -webkit-filter: blur(20px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.hidden {
  display: none;
}

/*game board*/

.logo {
  margin: 0 auto;
}

.button-table {
  height: 50px;
  width: 450px;
  margin: auto;
}

.button {
  margin: 20px;
  height: 30px;
  width: 30px;
  float: left;
  border: 1px solid white;
  /*border-style: outset;*/
  border-radius: 50%;
  /*background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);*/

}

.button:hover {
  cursor: pointer;
  border-style: inset;
}

.flood-it {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 2px;
}

.grid {
  margin: auto;
  width: 420px;
  height: 420px;
  padding: 0px;
}

.square {
  float: left;
  list-style: none;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.easy-square{
  height: 52.5px;
  width: 52.5px;
}

.med-square{
  height: 35px;
  width: 35px;
}

.large-square{
  height: 30px;
  width: 30px;
}

.red {
 background-color: #d45a2e;
 color: #d45a2e;
}

.yellow {
  background-color: #ecea2e;
  color: #ecea2e;
}

.pink {
  background-color: #e27fa9;
  color: #e27fa9;
}

.green {
  background-color: #90a92f;
  color: #90a92f;
}

.blue {
  background-color: #5ab0df;
  color: #5ab0df;
}

.purple {
  background-color: #6967af;
  color: #6967af;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.flooded {
  /*background: white;*/
}
